# Teamwork.com
TEAMWORK_API_KEY=
TEAMWORK_SITE=https://pm.cbo.me

# Insites
INSITES_API_KEY=
INSITES_INSTANCE_URL=https://intranet.combinate.me

# Zendesk
ZENDESK_API_KEY=
ZENDESK_URL=https://combinate.zendesk.com

# Research (Perplexity)
PERPLEXITY_API_KEY=
